@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0f2f5;
  --foreground: #050505;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.leaflet-container {
  height: 100%;
  width: 100%;
}
